.paragraph{
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 40px;
    max-width: 1280px;
    flex-wrap: wrap;
   
  }
  .word{
    position: relative;
    margin-right: 8px;
    margin-top: 11px;
    .shadow{
      position: absolute;
      opacity: 20%;
    }
  } 